.detaileng {
  overflow: hidden;
  max-width: 1920px;
  margin: 0 auto !important;
  float: none !important;
}

.detailengsection2 {
  height: 648px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.firstimg {
  width: 646px;
}

.textcontainer {
  width:1000px;
  height: 439px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0px 40px;
}

.textcontent {
  font-size: 1.3rem;
  font-weight: 600;
  line-height: 1.65;
  font-family: "Source Sans Pro Light";
  color: #20519b;
  padding: 0;
}

.detailengsection3 {
  height: 540px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 0;
  padding-top: 0;
}

.detailengsection4 {
  height: 648px;
  margin-top: 270px;
  background-image: url("../../public/detailengsec3.png");
  display: flex;
  justify-content: center;
}

.image3 {
  height: 750px;
  max-width: 100%;
  transform: translateY(-130px);
}

.basictitle {
  z-index: 3;
  position: relative;
  margin: 25px 0px;
  color: #FFCC01;
  font-size:2rem;
  font-weight: lighter;
}

.basiccontent {
  line-height: 1.8;
  font-size: 1.3rem;
  font-family: "Source Sans Pro Light";
  color: white;
}

.subsection4{
  width : 750px;
  margin : 40px;
}

.iconlist{
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  gap:15px;
}

.icontext{
  display: flex;
  margin :15px;
  gap:30px
}

@media (max-width: 72rem) {
  .detaileng {
    overflow: hidden;
    max-width: 1920px;
    margin: 0 auto !important;
    float: none !important;
  }

  .detailengsection2 {
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .firstimg {
    width: 646px;
    max-width: 100%;
  }

  .textcontainer {
    width :auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px 10px;
  }

  .textcontent {
    font-size: 0.8rem;
    font-weight: 600;
    line-height: 1.65;
    font-family: "Source Sans Pro Light";
    color: #20519b;
    padding: 10px 0;
  }

  .detailengsection3 {
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 0;
    padding-top: 0;
  }

  .detailengsection4 {
    height: fit-content;
    margin-top: 100px;
    background-image: url("../../public/detailengsec3.png");
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .image3 {
    height : auto;
    max-width: 100%;
    transform: translateY(0px);
  }
  
  .basictitle {
    z-index: 3;
    position: relative;
    margin: 25px 0px;
    color: #FFCC01;
    font-size:1rem;
    font-weight: lighter;
  }
  
  .basiccontent {
    line-height: 1.8;
    font-size: 0.8rem;
    font-family: "Source Sans Pro Light";
    color: white;
  }
  
  .subsection4{
    width :22rem;
    margin : 10px;
    padding-bottom: 30px;
  }
  
  .iconlist{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    gap:15px;
  }
  
  .icontext{
    display: flex;
    margin :15px;
    gap:30px
  }
  .detailicon{
    width:48px;
  }
}
