* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


hr {
    color: #ffffff !important;
    width: 100%;
    margin-bottom: 2%;
    opacity: 0.7;
}

.fcontainer {
    max-width: 1170px;
    margin: auto;
    justify-content: center;
}

.frow {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

ul {
    list-style: none;
}

.footer {
    background-color: #205198;
    padding: 18px 0;
}

.footer-col {
    /* width: 16%; */
    padding: 0 15px;
}

.footer-col h4 {
    font-size: 18px;
    color: #F5EC0C;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

.footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #a8d9f8;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #ffffff;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover {
    color: #ffffffd9;
    padding-left: 1px;
}



@media(max-width: 767px) {
    .footer-col {
        width: 50%;
        margin-bottom: 30px;
    }
}

@media(max-width: 574px) {
    .footer-col {
        width: 100%;
    }
}


/* copyright */
.copy {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #060606;
    color: white;
}

.copy p {
    margin: 0;
}

.terms li {
    display: inline;
    margin: 0 5px;
    list-style-type: none;
    color: white;
}

.terms a {
    text-decoration: none;
    color: white;
}

.terms a:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    .copy {
        flex-direction: column;
        text-align: center;
        font-size: 0.875rem;
    }

    .terms {
        margin-top: 10px;
    }

    .terms li {
        margin: 5px 0;
    }
}

.line {

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background-color: #EEf7FF;
}

.know {
    padding-left: 3rem;
    order: 1;
    flex: 1;
}

.button4 {
    order: 2;
    padding: 10px;
    margin-right: 5%;
}


@media (max-width: 768px) {
    .line {
        flex-direction: column;
    }
}

.know hr {
    border: none;
    border-top: 7px solid #205198;
    margin: 0px 0px;
    opacity: 2.7;
    width: 150px;
    position: absolute;
}

.know h2 {
    font-size: x-large;
    font-weight: 1000;
}

@media (max-width: 767px) {
    .footer {
        flex-direction: column;
    }

    .footer-col {
        margin-bottom: 20px;
    }

    .know hr {
        width: 150px;
    }

    .button4 {
        justify-content: center;
        display: flex;

    }

    .know h2 {
        align-items: center;
        font-size: larger;
      
    }

    .know {
        padding-left: 0rem;
    }

}


@media (max-width: 573px) {

    .footer {
        flex-direction: column;
        /* display: inline-flex; */

    }

    .footer-col {
        /* margin-bottom: 20px; */
        /* margin: 12px; */
    }

    /* .frow{
        display: inline;
        flex-direction: row;
    } */
    .know hr {
        width: 150px;
    }

    @media (max-width: 576px) {
        .frow {}

        .footer-col h4 {
            font-size: 1.2rem;
        }

        .footer-col ul li {

            font-size: 0.9rem;
        }

        .footer-col {
            flex: 1 0 0%;
            flex-wrap: wrap;
        }

        .know hr {
            /* width: 120px;  */
            /* border-top: 4px; */
            border-top: 5px solid #205198;
        }
    }


}

.touch1:hover {
    color: white;
}

@media (max-width:295px) {
    .button4 {
        height: 4rem;
        width: 17rem;
        font-size: smaller;
    }

    .know hr {
        width: 120px;
        /* border-top: 4px; */
        border-top: 4px solid #205198;
    }
}