.snip1580 img{
  height: 15rem;
}

.thermar .slick-slide {
  padding:0 3rem;
  text-align:left;
  margin-right:15px;
  margin-left:15px;
}

.snip1580 h3{
  color: white;
  font-weight: 100;
  font-size: 1rem;
}
